.profile {
    background: #202020;
    height: 100vh;
}

.profile__container {
    max-width: calc((1140 / 1280) *100%);
    margin: 0px auto;
    padding: 74px 0px 70px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile__title {
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    line-height: 29px;
    color: #FFFFFF;
    padding: 0px 0px 106px 0px;
    margin: 0px;
}

.profile__form {
    width: 410px;
}

.profile__input-container {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #424242;
}
.profile__input-container:last-of-type {
    border-bottom: none;;
}

.profile__input-name {
    font-size: 11px;
    font-weight: 500;
    font-style: normal;
    line-height: 13px;
    color: #FFFFFF;
    padding: 17px 0px 16px 0px;
    margin: 0px;
}

.profile__input {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    text-align: end;
    font-size: 11px;
    font-weight: 400;
    font-style: normal;
    line-height: 13px;
    color: #FFFFFF;
    border: none;
    background: none;
}

.profile__input:focus {
    outline: none;
    border: 1px solid #4285F4;
}

.profile__edit-btn {
    border: none;
    background: none;
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
    line-height: 16px;
    color: #FFFFFF;
    padding: 204px 0px 16px 0px;
    margin: 0px auto;
    width: 100%;
    cursor: pointer;
}

.profile__edit-btn:hover {
    transition: opacity 1s ease;
    opacity: 0.5;
}

.profile__logout-btn {
    border: none;
    background: none;
    font-size: 13px;
    font-weight: 500;
    font-style: normal;
    line-height: 16px;
    color: #EE3465;
    cursor: pointer;
    padding: 0px;
    width: 100%;
}

.profile__logout-btn:hover {
    transition: opacity 1s ease;
    opacity: 0.5;
}

.profile__save-btn {
    min-width: 100%;
    min-height: 45px;
    align-self: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    box-sizing: border-box;
    border: none;
    padding: 0px;
    border-radius: 3px;
}

.profile__save-btn_active {
    background: #4285F4;
    color: #FFFFFF;
    cursor: pointer;
}

.profile__save-btn_disabled {
    opacity: 0.5;
    background: #F8F8F8;
    color: #C2C2C2;
}

.profile__message {
    padding-top: 135px;
    padding-bottom: 15px;
    display: block;
    font-size: 10px;
    font-weight: 400;
    font-style: normal;
    line-height: 12px;
    color: #EE3465;
    text-align: center;
}

@media (max-width: 1075px) {
    .profile {
        height: 100%;
    }
    .profile__container {
        max-width: calc((668 / 768) * 100%);
        padding: 236px 0px 269px 0px;
    }

    .profile__title {
        padding-bottom: 96px;
    }

    .profile__edit-btn {
        padding-top: 210px;
    }

    .profile__save-btn {
       margin-top: 210px;
    }
}

@media (max-width: 600px) {
    .profile__container {
        max-width: calc((260 / 320) * 100%);
        padding: 70px 0px 40px 0px;
    }

    .profile__title {
        padding-bottom: 64px;
    }

    .profile__form {
        width: 260px;
    }

    .profile__edit-btn {
        font-size: 12px;
        line-height: 15px;
        color: #FFFFFF;
        padding-top: 363px;
    }

    .profile__save-btn {
        margin-top: 363px;
    }

    .profile__logout-btn {
        font-size: 12px;
        line-height: 15px;
    }
}