.caption {
    margin: 0 auto;
    padding: 110px 0px 23px 0px;
    border-bottom: 1px solid #DADADA;
    font-size: 22px;
    font-weight: 400;
    font-style: normal;
    line-height: 27px;
    letter-spacing: -0.04em;
}

@media (max-width: 1075px) {
    .caption {
        padding-top: 90px;
    }
}

@media (max-width: 600px) {
    .caption {
        padding-top: 70px;
        font-size: 18px;
        line-height: 22px;
    }
}