.portfolio {
    background-color: #202020;
}

.portfolio__container {
    max-width: calc((1140 / 1280) * 100%);
    margin: 0 auto;
    padding-bottom: 125px;
}

.portfolio__title {
    margin: 0 auto;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    line-height: 20px;
    color: #8B8B8B;
    padding-bottom: 30px;
}

.portfolio__items {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.portfolio__item {
    border-bottom: 1px solid #424242;
    padding: 20px 0px 9px 0px;
}

.portfolio__link {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
    line-height: 50px;
    color: #FFFFFF;
    letter-spacing: -0.04em;
}

.portfolio__arrow {
    max-width: 29px;
    height: 60px;
}

.portfolio__link:hover {
    transition: opacity 1s ease;
    opacity: 0.8;
}

.portfolio__item:last-of-type {
    border-bottom: none;
}

@media (max-width: 1075px) {
    .portfolio__container {
        max-width: calc((668 / 768) * 100%);
        padding-bottom: 90px;
    }

    .portfolio__title {
        padding-bottom: 30px;
    }

    .portfolio__link {
        font-size: 28px;
    }

    .portfolio__arrow {
        max-width: 27px;
    }
}

@media (max-width: 600px) {
    .portfolio__container {
        max-width: calc((300 / 320) * 100%);
        padding-bottom: 51px;
    }

    .portfolio__title {
        font-size: 14px;
        padding-bottom: 20px;
    }

    .portfolio__item {
        padding-bottom: 19px;
    }

    .portfolio__link {
        font-size: 18px;
        line-height: 28px;
    }

    .portfolio__arrow {
        max-width: 18px;
        height: 28px;
    }
}