.promo {
  background-color: #073042;
}

.promo__container {
  max-width: calc((1140 / 1280) * 100%);
  padding-top: 75px;
  padding-bottom: 75px;
  margin: 0 auto;
}

.promo__info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 84px;
}

.promo__img {
  background: url(../../images/promoImg.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 310px;
  height: 304px;
}

.promo__text {
  max-width: 640px;
}

.promo__title {
  font-size: 50px;
  font-weight: 400;
  font-style: normal;
  line-height: 58px;
  padding: 0;
  margin:0 0 36px 0;
}

.promo__subtitle {
  font-size: 13px;
  font-weight: 400;
  font-style: normal;
  line-height: 16px;
  max-width: 310px;
  padding: 0;
  margin: 0;
  opacity: 0.5;
}

.promo__button {
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  line-height: 16px;
  color: #fff;
  border: none;
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 3px;
  padding: 9px 19px;
  background: none;
  cursor: pointer;
}

.promo__link {
  text-decoration: none;
  color: #fff;
}

@media (max-width: 1075px) {
  .promo__container{
    max-width: calc((668 / 768) * 100%);
    padding-top: 140px;
    padding-bottom: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .promo__info {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    margin-bottom: 92px;
  }

  .promo__subtitle {
    margin: 0 auto;
    max-width: 260px;
  }

  .promo__title {
    margin:48px 0 22px 0;
    font-size: 40px;
    line-height: 55px;
  }

  .promo__button {
    max-width: 129px;
  }
}