.header__logo {
    padding-top: 18px;
    padding-bottom: 18px;
}

.logo {
    display: flex;
    justify-content: flex-start;
}

@media (max-width: 320px) {
    .logo {
        display: flex;
        justify-content: center;
    }
}