.nav {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.nav__container {
    align-items: center;
    display: flex;
}

.nav__item {
    align-self: center;
}

.nav__link {
    text-decoration: none;
    margin-left: 30px;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    font-style: normal;
}

.nav__link-movies_active {
    padding-bottom: 4px;
    border-bottom: 2px solid #FFFFFF;
}

.nav__link_signin {
    color: #000;
    padding: 8px 20px;
    background-color: #3DDC84;
    border-radius: 3px;
}

.nav__link_signup {
    color: #fff;
}

.account-menu {
    display: flex;
    width: calc((676/1140) * 100% );
    justify-content: space-between;
}

.account-menu {
    align-self: center;
}

.account-menu__link {
    text-decoration: none;
    margin-left: 30px;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    font-style: normal;
}

.account-menu__img {
    margin: 0 7px 0px 0px;
    width: 12px;
    height: 14px;
}

.account-menu__link_icon {
    font-size: 14px;
    color: #fff;
    margin: 0px;
    padding: 9px 12px;
    border: 2px solid rgba(170, 170, 170, 0.2);;
    border-radius: 50px;
}

.nav__link_saved-movies {
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    line-height: 18px;
    margin-left: 16px;
}

.nav__link_movies {
    color: #fff;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    margin-left: 0px;
}

.header__hamburger-btn{
    box-sizing: border-box;
    background: none;
    border: none;
    background: url(../../images/hamburger.svg);
    background-size: contain;
    height: 43px;
    width: 40px;
    padding: 0;
    align-self: center;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .account-menu_hidden {
      display: none;
    }
}

@media screen and (min-width: 769px) {
    .header__hamburger-btn_hidden {
      display: none;
    }
}

@media (max-width: 600px) {
    .nav__link {
        margin-left: 14px;
        font-size: 10px;
    }

    .nav__link_signin {
        padding: 5px 12px;
    }
}