.auth {
    background: #202020;
    height: 100vh;
}

.auth__container {
    max-width: calc((396 / 1280) *100%);
    margin: 0px auto;
    padding: 52px 0px 0px 0px;
    display: flex;
    flex-direction: column;
}

.auth__title {
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    line-height: 29px;
    color: #FFFFFF;
    padding: 22px 0px 16px 0px;
    margin: 0px;
}

.auth__input-name {
    font-size: 10px;
    font-weight: 400;
    font-style: normal;
    line-height: 12px;
    color: #8B8B8B;
    padding: 24px 0px 5px 0px;
    margin: 0px;
}

.auth__input {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 17px;
    color: #FFFFFF;
    border: none;
    background: none;
    border-bottom: 1px solid #424242;
    padding: 0px 0px 10px 0px;
    width: 100%;
}

.auth__input:focus {
    outline: none;
    border-bottom: 1px solid #4285F4;
}

.auth__error {
    visibility: hidden;
    display: block;
    font-size: 10px;
    font-weight: 400;
    font-style: normal;
    line-height: 12px;
    color: #EE3465;
    padding-top: 6px;
}

.auth__error_visible {
    display: block;
    font-size: 10px;
    font-weight: 400;
    font-style: normal;
    line-height: 12px;
    color: #EE3465;
    visibility: visible;
    padding-top: 6px;
}

.auth-btn {
    min-width: 100%;
    min-height: 45px;
    align-self: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    box-sizing: border-box;
    border: none;
    padding: 0px;
    border-radius: 3px;
    margin-top: 135px;
}

.auth-btn_active {
    background: #4285F4;
    color: #FFFFFF;
    cursor: pointer;
}

.auth-btn_disabled {
    opacity: 0.5;
    background: #F8F8F8;
    color: #C2C2C2;
}

.auth-btn_active:hover {
    transition: opacity 1s ease;
    opacity: 0.8;
}

.auth-question {
    padding-top: 16px;
    display: flex;
    justify-content: center;
}

.auth-question__link-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-decoration: none;
    padding: 0px;
    margin: 0px;
}

.auth-question__link-text_ask {
    color: #8B8B8B;
}

.auth-question__link {
    color: #4285F4;
    padding-left: 6px;
}

.auth-form__link:hover {
  transition: opacity 1s ease;
  opacity: 0.5;
}

@media (max-width: 1075px) {
    .auth__container {
        max-width: calc((390 / 768) * 100%);
        padding-bottom: 232px;
        padding-top: 214px;
    }

    .auth {
        height: 100%;
    }
}

@media (max-width: 600px) {
    .auth__container {
        max-width: calc((260 / 320) * 100%);
        padding-bottom: 30px;
        padding-top: 38px;
    }

    .auth__title {
        padding: 32px 0px 80px 0px;
        text-align: center;
    }

    .auth-btn {
        font-size: 12px;
        line-height: 15px;
        margin-top: 222px;
    }

    .auth-question {
        padding-top: 14px;
    }

    .auth-question__link-text {
        font-size: 12px;
        line-height: 15px;
    }
}