.search-form {
    background-color: #202020;
}

.search-form__container {
    max-width: calc((1140 / 1280) * 100%);
    margin: 0 auto;
    padding: 60px 0px 10px 0px;
}

.search-form__inputs {
    display: flex;
    background-color: #2F2F2F;
    border-radius: 40px;
    padding: 6px 6px 6px 12px;
    justify-content: space-between;
}

.search-form__input {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
    line-height: 17px;
    color: #8B8B8B;
    width: 100%;
    border: 0px;
    background-color: #2F2F2F;
    padding: 0px 0px 0px 10px;
}

.search-form__input:focus {
    outline: none;
    border: 2px solid rgba(139, 139, 139, 0.5);
    border-radius: 40px;
}

.search-form__button {
    width: 34px;
    height: 34px;
    padding: 0px;
    margin: 0px;
    border: 0px;
    background: url(../../images/searchButton.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    cursor: pointer;
}

.search-form__button:hover {
    transition: opacity 1s ease;
    opacity: 0.8;
}

.search-form__error {
    padding-top: 15px;
    display: block;
    font-size: 10px;
    font-weight: 400;
    font-style: normal;
    line-height: 12px;
    color: #EE3465;
    text-align: center;
}

@media (max-width: 600px) {
    .search-form__container {
        max-width: calc((300 / 320) * 100%);
        padding: 80px 0px 0px 0px;
    }

    .search-form__input {
        font-size: 11px;
    }
}