.header {
    background-color: #202020;
}

.header__main {
    background-color: #073042;
}

.header__container {
    max-width: 1140px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}

@media (max-width: 950px) {
    .header__container{
        max-width: 100%;
    }
}