.techs {
    background-color: #272727;
}
.techs__container {
    max-width: calc((1140 / 1280) * 100%);
    margin: 0 auto;
    padding-bottom: 100px;
}

.techs__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFFFFF;
}

.techs__title {
    margin: 0 auto;
    font-size: 50px;
    font-weight: 400;
    font-style: normal;
    line-height: 58px;
    letter-spacing: -0.04em;
    padding: 90px 0px 26px 0px;
}
.techs__subtitle {
    max-width: calc((460/1140) * 100%);
    margin: 0 auto;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 20px;
    letter-spacing: -0.04em;
    text-align: center;
    padding-bottom: 100px;
}

.techs__items {
    max-width: calc((690/1140) * 100%);
    margin: 0px auto;
    padding: 0px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, 90px);
    list-style: none;
    text-align: center;
    color: #FFFFFF;
}

.techs__item {
    margin: 0px;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 17px;
    letter-spacing: -0.04em;
    padding: 21px 0px;
    background-color: #303030;
    border-radius: 10px;
}

@media (max-width: 1075px) {
    .techs__container {
        max-width: calc((668 / 768) * 100%);
        padding-bottom: 90px;
    }

    .techs__title {
        max-width: calc((600 / 668) * 100%);
        padding: 80px 0px 22px 0px;
    }

    .techs__subtitle {
        max-width: calc((460/668) * 100%);
        font-size: 12px;
        line-height: 18px;
        padding-bottom: 83px;
    }

    .techs__items {
        max-width: calc((648/668) * 100%);
        grid-template-columns: repeat(auto-fill, 84px);
        list-style: none;
        text-align: center;
        color: #FFFFFF;
    }

    .techs__item {
        font-size: 12px;
        line-height: 15px;
    }
}

@media (max-width: 600px) {
    .techs__container {
        max-width: calc((300 / 320) * 100%);
        padding-bottom: 70px;
    }

    .techs__title {
        max-width: calc((292 / 300) * 100%);
        padding: 60px 0px 24px 0px;
        font-size: 30px;
        line-height: 36px;
    }

    .techs__subtitle {
        max-width: calc((292 / 300) * 100%);
        font-size: 11px;
        line-height: 16px;
        padding-bottom: 50px;
    }

    .techs__items {
        max-width: calc((178 / 300) * 100%);
    }

    .techs__item {
        font-size: 12px;
        line-height: 15px;
    }
}